# This file is for standardizing the formatting of code files across editors.
# Visit http://EditorConfig.org/ for more info and links to plugins for your IDE.

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
charset = utf-8
indent_style = space
indent_size = 4

[*.html]
charset = utf-8
indent_style = tab
