<footer class="text-center">
  <div class="row">

    <div class="col-xs-12">
      <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

      <div class="row">
        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked">
            {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <span class="fa fa-github">
              </span>

                <span class="username">{{ site.github_username }}</span>
              </a>
            </li>
            {% endif %} {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="fa fa-twitter">
              </span>

                <span class="username">{{ site.twitter_username }}</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>


        <div class="col-xs-12  col-md-4">
          <p class="text">{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
